@import url("./fonts.css");
body {
  background-color: black;
  font-family: "jetRegular", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.highlighted {
  font-family: "jetBold", serif;
}

.logo {
  filter: brightness(0) invert(1);
}

.floater {
  position: fixed;
  bottom: 5%;
  justify-content: center;
  width: 100%;
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;
  color: black;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  border-radius: 12px;
}
.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
  border-radius: 12px;
}
.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
}
.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 rgb(255 255 255 / 22%),
    inset -1px -1px 1px 1px rgb(255 255 255 / 30%);
  border-radius: 12px;
}
.liquidGlass-text {
  z-index: 3;
  font-size: 14px;
  color: #fff;
  padding: 8px;
}
.glass-icon > img {
  transition: all 0.2s ease-in-out;
}
.liquidGlass-wrapper:hover {
  padding: 2px;
  border-radius: 14px;
}

.liquidGlass-wrapper:hover .glass-icon > img {
  transform: scale(1.2);
}
