@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
.code{
  font-family: 'Roboto Mono', monospace;
}
body{
}
.ara{
  font-family: 'El Messiri', sans-serif !important;
}

.bordered{
  border-width: 1px;
  border-color: rgb(215, 221, 228);
}

#title{
  background-image: linear-gradient(90deg, var(--token-95cb6b62-8529-4fbb-852f-80715463fa28, rgb(255, 56, 83)) 0%, var(--token-bc5dbd43-19d2-4b05-915d-01b76c8a2254, rgb(255, 210, 46)) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.c{
  opacity: 0;
  transform-origin: center;
}
.g, .c{
  transition: all 0.2s ease-in-out;
}
.hovered > .g{
opacity: 0;
}
.hovered > .c{
opacity: 1;
transform: scale(1.5);
}


.btn{
  background-image: linear-gradient(90deg, var(--token-95cb6b62-8529-4fbb-852f-80715463fa28, rgb(255, 56, 83)) 0%, var(--token-bc5dbd43-19d2-4b05-915d-01b76c8a2254, rgb(255, 210, 46)) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.pw, .zid{
  filter: grayscale(1);
  transition: all 0.2s ease-in-out;
}

.hovered .pw, .hovered .zid {
  filter: grayscale(0);
  transform: scale(1.1);
}

.icn{
  filter:  grayscale(1) blur(1px);
  transition: all 0.2s ease-in-out;
}

.hovered .icn{
  filter:  blur(0px);
}

.box{
  box-shadow: inset -40px -40px 80px rgba(255,255,255,0.45), inset 20px 20px 40px rgba(94,104,121,0.1);
}

.hovered:not(.bg-black){
  box-shadow: inset -40px -40px 80px rgba(255,255,255,0.45), inset 40px 40px 80px rgba(94,104,121,0.3);
}

#hero{
  background-image: url(./../images/bg.svg);
  background-position: top,bottom;
  background-repeat: no-repeat;
  background-size: 1100px auto;
}

#id{
  background-color: rgba(42,43,56,.5);
}


.special{
  background-image: linear-gradient(90deg, var(--token-95cb6b62-8529-4fbb-852f-80715463fa28, rgb(255, 56, 83)) 0%, var(--token-bc5dbd43-19d2-4b05-915d-01b76c8a2254, rgb(255, 210, 46)) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.paused{
  opacity: 0.4;
}


.float {
  animation: float 2s infinite ease-in-out;
}

.float2 {
  animation: float 5s infinite ease-in-out;
}


@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
