@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
.code{
  font-family: 'Roboto Mono', monospace;
}
body{
}
.ara{
  font-family: 'El Messiri', sans-serif !important;
}

.paused > .play{
  display: block;
}

.playing > .pause{
  display: block;
}
